.App {
  text-align: center;
}
/* ---------Nav bar----------- */
.navStyle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: blueviolet;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li{
  list-style: none;
}
/* ---------Astronomy pic of the day page */
.bigPageContiner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.astronomyPicContainer{
  border: 3px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 75%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.picContainer{
  border: 3px solid red;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.astronomyPicture{
  resize: contain;
  overflow: hidden;
}
/* ---------NASA img and video page ---------- */
.bigContainerForCards{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.cardDiv{
  height: 300px;
  width: 300px;
  /* display: flex;
  flex-direction: column; */
  overflow: hidden;
}
.cardImg{
  height: 100px;
  width: 100px;
  object-fit: cover;
}
